langchain-core
langchain_community
langchain_groq
langchain-google-genai
langchain-tavily
langchain-experimental
langgraph
# langchain-openai

fastapi
uvicorn
pydantic
streamlit

python-dotenv
requests
wikipedia
